In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('homprices.xlsx')
df

               town  area   price
0   mornoe township  2600  550000
1   mornoe township  3000  565000
2   mornoe township  3200  610000
3   mornoe township  3600  680000
4   mornoe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
ohe = OneHotEncoder(categories=[0])

In [5]:
ohe

OneHotEncoder(categories=[0])

In [6]:
x = ohe.fit_transform(x).toarray()
x

NameError: name 'x' is not defined